<div class="">
  
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner" >
    <div class="carousel-item active">
      <div class="card" >
        <img src="https://sporting.vtexassets.com/arquivos/ids/595877-800-800?v=637955604097070000&width=800&height=800&aspect=true" class="card-img-top" alt="aca una imagen">
        <div class="card-body">
          <h5>remra negra deportiva</h5>
          <p class="card-text">una descripcion</p>
        </div>
      </div>
      
    </div>
    <div class="carousel-item" *ngFor="let producto of listaResultados">
      <div class="card" >
        <img src={{producto.imagen}} class="card-img-top" alt="aca una imagen">
        <div class="card-body">
          <h5>{{producto.nombre}}</h5>
          <p class="card-text">{{producto.descripcion}}</p>
        </div>
        <!--<a class="btn btn-primary"  role="button" (click)="actualizarProducto(producto)">Modificar</a>-->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<a class="btn btn-primary"  role="button" (click)="nuevoProducto()">agregar producto</a>
</div>  

