<div class="row">
    <div class=" col-md-8  d-none d-md-block bg-dark-subtle" >
      <h3 style="background-color: rgb(78, 228, 228); color: rgb(8, 8, 8); text-align: center;">Conversor de Divisas</h3>
      <div class="table-responsive">
        <table class="table">
            <thead> 
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col " > 
                  <img src="../../../../assets/images/USD.jpg" alt="aca una imagen"  >
                  <p #p>USD</p>
                </th>
                <th scope="col">
                  <img src="../../../../assets/images/EUR.jpg" alt="una imagen" > 
                  <p>EUR</p></th>
                <th scope="col">
                  <img src="../../../../assets/images/GBP.jpg" alt="una imagen" >
                   <p>GBP</p> 
                   </th>
                <th scope="col">
                  <img src="../../../../assets/images/JPY.jpg" alt="aca una imagen" > 
                  <p>JPY</p> 
                </th>
                <th scope="col">
                  <img src="../../../../assets/images/CNY.jpg" alt="aca una imagen" ><p>CNY</p> </th>
                <th scope="col">
                  <img src="../../../../assets/images/AUD.jpg" alt="aca una imagen" ><p>AUD</p> </th>
                <th scope="col">
                  <img src="../../../../assets/images/BTC.jpg" alt="aca una imagen" ><p>BTC</p> </th>
                <th scope="col">
                  <img src="../../../../assets/images/ARS.jpg" alt="aca una imagen" ><p>ARS</p> </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" style="margin: auto;">
                <img src="../../../../assets/images/USD.jpg" alt="aca una imagen" ></th>
                <td ><p class="p">1 USD</p> <p class="p">INVERSE</p></td>
                <td>{{tablaDivisasResultados[0] | number:'1.6-6'}}<p>{{tablaDivisasResultadosInversa[0] | number:'1.6-6'}}</p></td>
                <td>{{tablaDivisasResultados[1] | number:'1.6-6'}}<p>{{tablaDivisasResultadosInversa[1] | number:'1.6-6'}}</p></td>
                <td>{{tablaDivisasResultados[2] | number:'1.6-6'}}<p>{{tablaDivisasResultadosInversa[2] | number:'1.6-6'}}</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
               
              </tr>
              <tr>
                <th scope="row"><img src="../../../../assets/images/EUR.jpg" alt="una imagen" ></th>
                <td> <p class="p">1 EUR</p> <p class="p">INVERSE</p></td>
                <td>{{tablaDivisasResultadosInversa[1] | number:'1.6-6'}}<p>{{tablaDivisasResultados[1] | number:'1.6-6'}}</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
              </tr>
              <tr>
                <th scope="row"><img src="../../../../assets/images/GBP.jpg"></th>
                <td><p class="p">1 GBP</p> <p class="p">INVERSE</p></td>
                <td>{{tablaDivisasResultadosInversa[2] | number:'1.6-6'}}<p>{{tablaDivisasResultados[2] | number:'1.6-6'}}</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
              </tr>
              <tr>
                <th scope="row"><img src="../../../../assets/images/JPY.jpg"></th>
                <td><p class="p">1 JPY</p> <p class="p">INVERSE</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
              </tr>
              <tr>
                <th scope="row"><img src="../../../../assets/images/CNY.jpg"></th>
                <td><p class="p">1 CNY</p> <p class="p">INVERSE</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
              </tr>
              <tr>
                <th scope="row"><img src="../../../../assets/images/AUD.jpg"></th>
                <td><p class="p">1 AUD</p><p class="p">INVERSE</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
              </tr>
              <tr>
                <th scope="row"><img src="../../../../assets/images/BTC.jpg"></th>
                <td><p class="p">1 BTC</p><p class="p">INVERSE</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
              </tr>
              <tr>
                <th scope="row"><img src="../../../../assets/images/ARS.jpg"></th>
                <td><p class="p">1 ARS</p><p class="p">INVERSE</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
                <td>111111<p>000000</p></td>
              </tr>
            </tbody>
           
        </table>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-block" (click)="tablaTransacciones()">Listado de Transacciones</button>
        </div>  
      </div> 
    </div>

    <div class="col-sm-12  col-md-4 " style="background-color: cornflowerblue;">
      <h3 style="background-color: rgba(72, 72, 165, 0.658);">Conversor de Divisas</h3>
        <form #traductorForm="ngForm">
              <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad</label>
                <input type="number" id="cantidad" class="form-control" name="cantidad" placeholder="Cantidad" [(ngModel)]="transaccion.cantidadOrigen" required [min]="1" #cantidad="ngModel">
                <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" class="alert alert-danger ">
                  <div *ngIf="cantidad.errors?.['required']">
                      Cantidad es requerido
                  </div>
                  <div *ngIf="cantidad.errors?.['min']">
                    Cantidad debe ser mayor a 0
                </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="" class="form-label">De</label>
                <select id="" class="form-select" name="monedaOrigen"[(ngModel)]="transaccion.monedaOrigen" required #monedaOrigen="ngModel">
                  <option *ngFor="let divisa of listadoDivisas" value={{divisa.symbol}} >{{divisa.symbol}}  {{divisa.name}} </option>
                </select>
                <div *ngIf="monedaOrigen.invalid && (monedaOrigen.dirty || monedaOrigen.touched)" class="alert alert-danger ">
                  <div *ngIf="monedaOrigen.errors?.['required']">
                      Moneda Origen es requerido
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">A</label>
                <select id="" class="form-select" name="monedaDestino" [(ngModel)]="transaccion.monedaDestino" required #monedaDestino="ngModel">
                  <option *ngFor="let divisa of listadoDivisas" value={{divisa.symbol}}>{{divisa.symbol}}  {{divisa.name}} </option>
                </select>

                <div *ngIf="monedaDestino.invalid && (monedaDestino.dirty || monedaDestino.touched)" class="alert alert-danger ">
                  <div *ngIf="monedaDestino.errors?.['required']">
                      Moneda Destino es requerido
                  </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="tasaConversion" class="form-label">Tasa de conversion</label>
                <input type="number" id="tasaConversion" class="form-control" name="tasaConversion"  [(ngModel)]="transaccion.tasaConversion" required #tasaConversion="ngModel">
                
                <div *ngIf="tasaConversion.invalid && (tasaConversion.dirty || tasaConversion.touched)" class="alert alert-danger ">
                  <div *ngIf="tasaConversion.errors?.['required']">
                      Tasa de conversion es requerido
                  </div>
                </div>
              </div>

            <div class="mb-3">
                <label for="emailCliente" class="form-label">Email</label>
                <input type="email" id="emailCliente" class="form-control" name="emailCliente" [(ngModel)]="transaccion.emailCliente" required #emailCliente="ngModel" [email]="true">
            
                <div *ngIf="emailCliente.invalid && (emailCliente.dirty || emailCliente.touched)" class="alert alert-danger ">
                  <div *ngIf="emailCliente.errors?.['required']">
                      Email es requerido
                  </div>
                </div>

                <div *ngIf="emailCliente.invalid && (emailCliente.dirty || emailCliente.touched)" class="alert alert-danger ">
                  <div *ngIf="emailCliente.errors?.['email']">
                      Formato Email es requerido
                  </div>
                </div>


              </div>

              <div class="mb-3">
                <label for="">Resultado</label>
                <input type="text" id="" class="form-control" placeholder="$" value="$ {{ transaccion.cantidadDestino | number:'1.2-2' }}" disabled>
              </div>
              <div class="but"><button (click)="convertirDivisas()" class="btn btn-primary" [disabled]="traductorForm.invalid ">Convertir <i class="bi bi-arrow-right"></i></button></div>
              
          </form>
    </div>

</div>
