<div class="row" style="margin: auto;" >
    <h1>Programacion y Servicios Web </h1>
    <nav class="navbar navbar-expand-lg bg-dark-subtle">
        
        <div class="container-fluid">
           
          <a class="navbar-brand" [routerLink]="['parcial']">PySW 2023</a> 
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" [routerLink]="['parcial']"><i class="bi bi-suit-club-fill"></i>  parcial</a>
             <!-- <a class="nav-link" [routerLink]="['parcial']"><i class="bi bi-suit-diamond-fill"></i>  Pagina B</a>
             -->
            </div>
          </div>
        </div>
    </nav>
</div>
